body{
	background: #020A18;
	font-family: 'Open Sans', sans-serif;
	color: #fff;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container{
	width: 100%;
	max-width: 1146.45px;
	margin: 0 auto;
}

.subtitle{
	color: #3a68b8;
	font-weight: 600;
}

a{
	text-decoration: none;
	color: #fff;
	font-weight: 600;
}

.button{
	padding: 15px 30px;
	font-size: 16px;
	line-height: 22px;
	padding: 15px 30px;
	background-color: #3A68B8;
	border-radius: 5px;
}

.text{
	opacity: 0.7;
}

/*HEADER*/

header{
	background: rgba(255, 255, 255, 0.02); /*linear-gradient(180deg, rgba(255, 255, 255, 0.2) -41.9%, #FFFFFF 260.24%)*/

}

header .container{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header .logo{
	display: flex;
	align-items: center;
}

header .logo .subtitle{
	margin-left: 15px;
	font-size: 22.5px;
	line-height: 31px;
}

header .panel{
	display: flex;
}

header .panel li{
	list-style: none;
}

header .panel a{
	display: block;
	margin: 39px 20px;
	font-size: 16px;
	line-height: 22px;
}


/*HOME*/

#home{
	background: rgba(255, 255, 255, 0.04);
}

#home .container:first-child{
	display: flex;
	max-width: 1921px;
	padding: 50px 0 0 388px;

}

#home .info{
	margin-top: 110px;
	margin-right: 115px;
	width: 605px;
}

#home .subtitle{
	text-transform: uppercase;
	line-height: 160%;
	font-size: 18px;
	margin-bottom: 10px;
}

#home .title{
	font-weight: 800;
	font-size: 55px;
	line-height: 130%;
	margin-bottom: 40px;
}

#home .text{
	font-size: 18px;
	font-weight: 600;
	line-height: 160%;
	opacity: 0.7;
	width: 560px;
}

#home .btns{
	margin-top: 50px;
	display: flex;
}

#home .button{
	font-size: 20px;
	line-height: 27px;
	font-weight: 600;
}

#home .button:first-child{
	margin-right: 20px;
}

#home .button:nth-child(2){
	display: flex;
	align-items: center;
}

#home .button p{
	margin-left: 10px;
}

#home .image{

}

#home .container:nth-child(2){
	display: flex;
	justify-content: space-between;
	padding: 90px 0;
}


/*ABOUT*/
#about{
	padding: 130px 0;
}

#about .container{
	display: flex;
	max-width: 1277px;
	align-items: center;
}

#about .info{
	margin-left: 68px;
}

#about .title{
	font-weight: bold;
	font-size: 40px;
	line-height: 130%;
	margin-bottom: 30px;
}

#about .text{
	margin-bottom: 50px;
	font-weight: 600;
	font-size: 16px;
	line-height: 160%;
	opacity: 0.7;
	width: 460px;
}


/*SERVICES*/
#services{
	padding: 50px 0 170px;
}

#services .box{
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
}

#services .card{
	background: linear-gradient(180deg, rgba(255, 255, 255, 0.02), rgba(255, 255, 255, 0.06));
	border-radius: 10px;
	margin: 0 15px;
	text-align: center;
	width: 360px;
	padding: 47px 30px 30px;
}

#services .card .logo{
	margin: 0 auto;
}

#services .title{
	margin: 47px 0 30px;
}

#services .slider{
	display: flex;
	justify-content: center;
}

#services .point{
	width: 15px;
	height: 15px;
	border-radius: 10px;
	margin: 0 5px;
	background: #2C3647;
	opacity: 0.5;
	cursor: pointer;
}

#services .point.active{
	opacity: 1;
}


/*BLOG*/

#blog{
	padding-bottom: 170px;
}

#blog .container{
	max-width: 1192px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#blog .info{
	width: 550px;
}

#blog .title{
	font-weight: bold;
	font-size: 40px;
	line-height: 130%;
	margin-bottom: 40px;
}

#blog .text{
	margin-top: 20px;
	width: 460px;
	font-weight: 600;
	font-size: 16px;
	line-height: 26px;
	opacity: 0.7;
}

/*FOOTER*/
#footer{
	background: linear-gradient(180deg, rgba(255, 255, 255, 0.02) -41.9%, rgba(255, 255, 255, 0.1) 260.24%);
	padding: 80px 0 150px;
	font-family: Circular;
}

#footer .container{
	display: flex;
	max-width: 1197px;
}

#footer .first-column{
	width: 300px;
	margin-right: 30px;
}

#footer .first-column .subtitle{
	font-size: 16px;
	font-weight: 600;
	line-height: 22px;
	font-family: 'Open Sans', sans-serif;
}

#footer .first-column .logo{
	margin-bottom: 10px;
}

#footer .first-column .contacts{
	margin-top: 17px;
}

#footer .first-column .contacts a{
	display: block;
	margin-top: 20px;
}

#footer .first-column .contacts img{
	margin-right: 9px;
}


#footer .first-column .contacts h1{
	font-weight: 500;
	font-size: 14px;
	line-height: 18px;
	display: inline-block;
}

#footer .column,
#footer .last-column{
	padding-top: 20px;
}

#footer .column{
	width: 200px;
	margin: 0 15px;
}

#footer .last-column{
	width: 260px;
}

#footer .last-column .website{
	display: block;
	margin-top: 30px;
	font-weight: 500;
	font-size: 14px;
	line-height: 18px;
}

#footer .last-column .networks{
	display: flex;
	width: 175px;
	justify-content: space-between;
	align-items: center;
	margin: 20px 0 50px;
}

#footer .last-column .language{
	cursor: pointer;
}

#footer .last-column .language .image{
	margin: 0 10px;
}


#footer .title{
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	text-transform: uppercase;
}

#footer .text{
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	margin-top: 20px;
}









@font-face{
font-family: "Circular"; 
src: url("../fonts/CircularStd-Book.ttf") format("truetype"); 
font-style: normal; 
font-weight: normal; 
}